addict
aiohappyeyeballs
aiohttp
aiosignal
aiosqlite
amqp
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
async-property
async-substrate-interface
async-timeout
asyncio
asyncstdlib
asynctest
attrs
Babel
backcall
backoff
base58
beautifulsoup4
billiard
bittensor
bittensor-wallet
black
bleach
bt-decode==v0.5.0-a2
cached-property
cachetools
celery
certifi
cffi
chardet
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
comm
commonmark
coverage
cryptography
cytoolz
datasets
datura_py==0.0.16
ddt
debugpy
decorator
defusedxml
Deprecated
dill
docker-pycreds
ecdsa
entrypoints
eth-hash
eth-keys
eth-typing
eth-utils
exceptiongroup
fastapi==0.99.1
fastjsonschema
filelock
fqdn
frozenlist
fsspec
fuzzywuzzy
gitdb
GitPython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
greenlet
grpcio
grpcio-tools
h11
httpcore
httplib2
httpx
huggingface-hub
hypothesis
idna
importlib-metadata
importlib-resources
iniconfig
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration
jedi
Jinja2
json5
jsonpatch
jsonpointer
jsonschema
jupyter
jupyter-console
jupyter-server
jupyter_client
jupyter_core
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab_widgets
kombu
# langchain==0.2.0
# langchain-core
# langchain-text-splitters
langsmith>=0.1.17,<0.2.0
limits
loguru
markdown-it-py
MarkupSafe
matplotlib-inline
maturin
mdurl
miniupnpc
mistune
more-itertools
msgpack
msgpack-numpy
msgpack-numpy-opentensor
multidict
multiprocess
munch
mypy-extensions
narwhals
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
netaddr
notebook
notebook_shim
numpy
nvidia-cublas-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
orjson
packaging
pandas==1.3.5
pandocfilters
parso
passlib
password-strength
pathspec
pathtools
pexpect
pickleshare
pkgutil_resolve_name
platformdirs
plotille
plotly
pluggy
prometheus-client
promise
prompt_toolkit
propcache
protobuf
psutil
ptyprocess
py
py-bip39-bindings
py-ed25519-bindings
py-ed25519-zebra-bindings
py-sr25519-bindings
pyarrow
pyasn1
pyasn1-modules
pycparser
pycryptodome
pydantic
pydantic-settings
pydantic_core
Pygments
PyNaCl
pyparsing
pyrsistent
pytest
pytest-asyncio
pytest-cov
python-dateutil
python-dotenv
python-jose
python-Levenshtein
python-multipart
pytz
pywry
PyYAML
pyzmq
qqdm
redis
regex
requests
requests-toolbelt
resolvelib
responses
retry
rfc3339-validator
rfc3986-validator
rich
rsa
Send2Trash
sentencepiece
sentry-sdk
setproctitle
shellingham
shortuuid
six
slowapi
smmap
sniffio
sortedcontainers
soupsieve
SQLAlchemy
starlette
substrate-interface
tenacity
termcolor
terminado
tinycss2
tokenizers
toml
tomli
toolz
torch
tornado
tqdm
traitlets
transformers
typer
types-python-dateutil
typing-inspection
typing_extensions
unicorn
uri-template
uritemplate
urllib3
uvicorn
vine
wandb
wcwidth
